html{
    height: 100%;
    font-size: 100%;
}

.logo{
    display: flex;
}

.logo img{
    width: 3rem;
    border-radius: 50%;
}

.logo h2{
    padding-left: 1rem;
    align-self: center;
}

body{
    font-family: sans-serif;
    min-height: 100%;
}

.container{
    margin: 0 auto;
    width: 80%;
}

nav, footer {
    background-color: #555;
    min-height: 3rem;
    height: 3rem;
    padding: 1rem;
    color: white;
    display: flex;
}

nav .logo{
    flex: 6;
}

nav ul {
    flex: 6;
    list-style-type: none;
    padding-left: none;
    margin: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    align-items: center;
}

nav li a {
    align-self: center;
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-family: sans-serif;
}

nav li a:hover{
    text-decoration: underline;
}

footer ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

footer li{
    line-height: 1.5rem;
    padding: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

